/* Style global */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom(--color01), (--color02))
}

/* Variaveis de paleta de cor e font */

:root {
    --color01: #485563;
    --color02: #29323c;
}