/* Definindo altura e margin/padding para html e body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, var(--color01), var(--color02), var(--color03) ) no-repeat center/cover;
}

:root {
    --color01: #0f0c29;
    --color02: #302b63;
    --color03: #24243e;
    --color04: #5a57fd;
    --color05: #edf0ff;
    --fonte_principal: 'Prompt', sans-serif;
    --fonte_secundaria: "Marcellus", serif;
}

/* Estilizando a NAV-BAR */

.container-fluid h1{
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

.titulo-nav{
    font-family: var(--fonte_principal);
    color: var(--color05);
    text-decoration: none;
    transition: all .5s;
}

.titulo-nav:hover{
    color: var(--color04);
    text-decoration: underline;
}

.nav-item a{
    font-family: var(--fonte_principal);
    font-size: 2rem;
    color: var(--color05);
    transition: all .5s;
}

.nav-item a:hover {
    color: var(--color04);
    text-decoration: underline;
}
